<a href="https://colab.research.google.com/github/tefarov/netology_pyda5/blob/master/abd_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import StandardScaler 
from sklearn.linear_model import LinearRegression 
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR

from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

# Задание 1
Взять датасет homework.csv

Решить задачу регрессии (как минимум один из):<br> https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html <br>
https://scikit-learn.org/stable/modules/generated/sklearn.svm.SVR.html<br>
https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeRegressor.html<br><br>

Оценить качество регрессии при помощи метрик:<br>
https://scikit-learn.org/stable/modules/generated/sklearn.metrics.mean_squared_error.html<br>
https://scikit-learn.org/stable/modules/generated/sklearn.metrics.r2_score.html<br>
https://scikit-learn.org/stable/modules/generated/sklearn.metrics.mean_absolute_error.html

## Данные

полное описание датасета : https://www.kaggle.com/c/boston-housing/overview

---
**crim** per capita crime rate by town.

**zn** proportion of residential land zoned for lots over 25,000 sq.ft.

**indus** proportion of non-retail business acres per town.

**chas** Charles River dummy variable (= 1 if tract bounds river; 0 otherwise).

**nox** nitrogen oxides concentration (parts per 10 million).

**rm** average number of rooms per dwelling.

**age** proportion of owner-occupied units built prior to 1940.

**dis** weighted mean of distances to five Boston employment centres.

**rad** index of accessibility to radial highways.

**tax** full-value property-tax rate per $10,000.

**ptratio** pupil-teacher ratio by town.

**black** 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town.

**lstat** lower status of the population (percent).

**medv** median value of owner-occupied homes in $1000s.

In [23]:
hou_df = pd.read_csv('/content/drive/My Drive/EDU.Netology/abd_02_homework.csv',sep=';')
hou_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 15 columns):
ID         333 non-null int64
crim       333 non-null float64
zn         333 non-null float64
indus      333 non-null float64
chas       333 non-null int64
nox        333 non-null float64
rm         333 non-null float64
age        333 non-null float64
dis        333 non-null float64
rad        333 non-null int64
tax        333 non-null int64
ptratio    333 non-null float64
black      333 non-null float64
lstat      333 non-null float64
medv       333 non-null float64
dtypes: float64(11), int64(4)
memory usage: 39.1 KB

## LinearRegression

In [24]:
hou_df.head()

   ID     crim    zn  indus  chas  ...  tax  ptratio   black  lstat  medv
0   1  0.00632  18.0   2.31     0  ...  296     15.3  396.90   4.98  24.0
1   2  0.02731   0.0   7.07     0  ...  242     17.8  396.90   9.14  21.6
2   4  0.03237   0.0   2.18     0  ...  222     18.7  394.63   2.94  33.4
3   5  0.06905   0.0   2.18     0  ...  222     18.7  396.90   5.33  36.2
4   7  0.08829  12.5   7.87     0  ...  311     15.2  395.60  12.43  22.9

[5 rows x 15 columns]

In [0]:
X,y = hou_df[['crim','indus','black','nox','rm']],hou_df['medv']
X_trn, X_tst, y_trn, y_tst = train_test_split(X,y,test_size=0.2)

In [0]:
ssc = StandardScaler()

X_trn = ssc.fit_transform(X_trn)
X_tst = ssc.transform(X_tst)

In [64]:
mdl = LinearRegression()

mdl.fit(X_trn,y_trn)
y_prd = mdl.predict(X_tst)

print(f' mean squared error:{mean_squared_error(y_tst, y_prd):>6.2f}')
print(f'mean absolute error:{mean_absolute_error(y_tst, y_prd):>6.2f}')
print(f'           r2 score:{r2_score(y_tst, y_prd):>6.2f}')

 mean squared error: 29.23
mean absolute error:  3.44
           r2 score:  0.60

In [63]:
mdl = SVR()

mdl.fit(X_trn,y_trn)
y_prd = mdl.predict(X_tst)

print(f' mean squared error:{mean_squared_error(y_tst, y_prd):>6.2f}')
print(f'mean absolute error:{mean_absolute_error(y_tst, y_prd):>6.2f}')
print(f'           r2 score:{r2_score(y_tst, y_prd):>6.2f}')

 mean squared error: 25.98
mean absolute error:  3.38
           r2 score:  0.65

In [66]:
print('Decision tree regressor')
mdl = DecisionTreeRegressor()

mdl.fit(X_trn,y_trn)
y_prd = mdl.predict(X_tst)

print(f' mean squared error:{mean_squared_error(y_tst, y_prd):>6.2f}')
print(f'mean absolute error:{mean_absolute_error(y_tst, y_prd):>6.2f}')
print(f'           r2 score:{r2_score(y_tst, y_prd):>6.2f}')

Decision tree regressor
 mean squared error: 19.23
mean absolute error:  3.09
           r2 score:  0.74