<a href="https://colab.research.google.com/github/tefarov/netology_pyda5/blob/master/homework_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import sys

#Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [0]:
print('reading') # read data
rat = pd.read_csv('movies/ratings.csv')
mov = pd.read_csv('movies/movies.csv')

print('filtering') # filter only the top-rates
rat = rat.loc[rat['rating'] == 5]

print('grouping')
# we will get a list of how much times each movie has been rated with 5-stars
rat = rat.groupby('movieId').count()[['rating']]
# get the top-10 of most rated movies
rat = rat.sort_values(by=['rating'],ascending=[False])
rat = rat.head(10)

# merge movie-info
print('merging') 
rat = rat.merge(mov,how='left',left_index=True,right_on='movieId')

print('\nThe most rated movie is:')
print(rat.iloc[0]['title'])

# Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [0]:
# CONFIG
STR_FILPATH = sys.path[0] + "\power.csv"    # path to a csv-file

cnt_l = ['Latvia','Lithuania','Estonia']    # specify countries' filter
cat_l = [4,12,21]                           # specify categories' filter
prd   = (2005,2010)                         # specify period from .. to ..

# PROCESS

print('Reading: ' + STR_FILPATH)
dat = pd.read_csv(STR_FILPATH)
print(f"Records: {len(dat):.>12n}")

# Filter by countries
flt = dat['country'].apply(lambda x: x in cnt_l)
dat = dat[flt]
print(f"Records: {len(dat):.>12n}")

# Filter by categories
flt = dat['category'].apply(lambda x:x in cat_l)
dat = dat[flt]
print(f"Records: {len(dat):.>12n}")

# Filter by years
dat = dat[(dat['year']>=prd[0]) & (dat['year']<=prd[1])]
print(f"Records: {len(dat):.>12n}")

# Get rid of non-negative numbers
dat = dat[dat['quantity']>=0]
print(f"Records: {len(dat):.>12n}")

# Output total consumption
print('-'*10)
ttl = dat['quantity'].sum()
print(f"Потребление {'всего':.<10}{ttl:.>10,.0f}".replace(',',' '))

# Output consumption by countries
print('-'*10)
dat = dat.groupby('country')[['quantity']].sum()
for ix,rec in dat.iterrows():
    print(f"Потребление {ix:.<10}{rec['quantity']:.>10,.0f}".replace(',',' '))

# Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [26]:
dat_l = pd.read_html('https://fortrader.org/quotes',header=0)
dat = dat_l[1]

print(dat)
print(dat.info())

                                    Type          Last     Chg.  Chg.%  Time
0                      ВТБ Акции ОАО ВТБ       0.03811  0.00000   0.00   NaN
1                 Газпром Акции газпрома     229.32000     0.00   0.00   NaN
2                    Лукоил Акции Лукойл    5168.00000      0.0   0.00   NaN
3                Роснефть Акции Роснефти     405.75000     0.00   0.00   NaN
4               Сбербанк Акции Сбербанка     219.80000     0.00   0.00   NaN
5   Сургутнефтегаз Акции Сургутнефтегаза      25.60500    0.000   0.00   NaN
6              Норникель Акции Норникель   15400.00000        0   0.00   NaN
7               Аэрофлот Акции Аерофлота     108.65000   +11.84  12.23   NaN
8            Северсталь Акции Северсталь     944.60000     +0.6   0.10   NaN
9            Транснефть Акции транснефти  145600.00000  -20 700 -12.00   NaN
10     Ростелеком Курс акций ростелекома      80.90000    +8.07  11.08   NaN
11                     RUSAL акции RUSAL       3.15000    +0.01   0.32   NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 5 columns):
Type     12 non-null object
Last     12 non-null float64
Chg.     12 non-null object
Chg.%    12 non-null float64
Time     0 non-null float64
dtypes: float64(3), object(2)
memory usage: 560.0+ bytes
None