<a href="https://colab.research.google.com/github/tefarov/netology_pyda5/blob/master/homework_09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import datetime as dt

# Задание 1
Напишите функцию date_range, которая возвращает список дней между датами start_date и end_date. Даты должны вводиться в формате YYYY-MM-DD.

## Вспомогательные элементы

In [0]:
def fx_convert(value):
  "Эта функция нужно чтобы просто возвращать правильные даты"
  try:
    if type(value) == dt.datetime: return value
    elif type(value) == int: return dt.datetime.fromtimestamp(value)
    elif type(value) == str:
      return dt.datetime.strptime(value,'%Y-%m-%d')
  except:
    pass
  raise ValueError(f"Не могу преобразовать '{value}' в дату ")

## Решение

In [0]:
def date_range(start, end):
  start = fx_convert(start)
  end   = fx_convert(end)
  day = dt.timedelta(days=1)
  val = []
  
  while start <= end:
    val.append(start)
    start = start + day
  
  return list(map(lambda x: x.strftime('%Y-%m-%d') ,val))

## Проверка

In [21]:
date_range('2019-01-02','2019-01-10')

['2019-01-02',
 '2019-01-03',
 '2019-01-04',
 '2019-01-05',
 '2019-01-06',
 '2019-01-07',
 '2019-01-08',
 '2019-01-09',
 '2019-01-10']

# Задание 2
Дополните функцию из первого задания проверкой на корректность дат. В случае неверного формата или если start_date > end_date должен возвращаться пустой список.

## Решение

In [0]:
def date_range2(start, end):
  try:
    start = fx_convert(start)
    end   = fx_convert(end)
    if end<start: raise ValueError()
  except ValueError:
    return []
  
  day = dt.timedelta(days=1)
  val = []
  
  while start <= end:
    val.append(start)
    start = start + day
  
  return list(map(lambda x: x.strftime('%Y-%m-%d') ,val))

## Проверка

In [23]:
date_range2('2019-01-02','2019-01-10')

['2019-01-02',
 '2019-01-03',
 '2019-01-04',
 '2019-01-05',
 '2019-01-06',
 '2019-01-07',
 '2019-01-08',
 '2019-01-09',
 '2019-01-10']

In [24]:
date_range('2019-03-02','2019-01-10')

[]

In [26]:
date_range2('2019-01-X2','2019-01-10')

[]

# Задание 3
Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:

```stream = ['2018-04-02', '2018-02-29', '2018-19-02']```

Напишите функцию, которая проверяет эти даты на корректность. Т. е. для каждой даты возвращает True (дата корректна) или False (некорректная дата).

## Решение

In [0]:
def fx_isdate(value):
  try:
    if type(value) == dt.datetime: return True
    elif type(value) == int: return True
    elif type(value) == str:
      value = dt.datetime.strptime(value,'%Y-%m-%d')
      return True
  except Exception as ex:
    # return ex.__repr__()
    pass
  return False

## Проверка

In [38]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']
stream_is = list(map(fx_isdate,stream))

stream_is

[True, False, False]

# Задание 5 или 4
В последнем примере поиска по словарю мы использовали 3 столбца. Напишите функцию, которая формирует словарь для поиска по n столбцам.

## Вспомогательные материалы

In [58]:
file = """2,14,26376,3,13301
17,12,7316,2,19329
17,28,2803,2,87381
2,25,22022,2,94036
2,20,13883,5,50722
31,14,21304,1,55449
31,22,2029,2,12482
31,4,7384,3,22408
31,24,20136,2,45396
31,11,11438,3,88147"""

file = file.split('\n')
file

['2,14,26376,3,13301',
 '17,12,7316,2,19329',
 '17,28,2803,2,87381',
 '2,25,22022,2,94036',
 '2,20,13883,5,50722',
 '31,14,21304,1,55449',
 '31,22,2029,2,12482',
 '31,4,7384,3,22408',
 '31,24,20136,2,45396',
 '31,11,11438,3,88147']

## Решение

In [0]:
def fx_filedict(file_lines,n):
  val = {}
  data = [lin.split(',') for lin in file_lines]
  for line in data:
    val[tuple(line[:n])] = line[n:]
  
  return val

## Проверка

In [67]:
fx_filedict(file,2)

{('17', '12'): ['7316', '2', '19329'],
 ('17', '28'): ['2803', '2', '87381'],
 ('2', '14'): ['26376', '3', '13301'],
 ('2', '20'): ['13883', '5', '50722'],
 ('2', '25'): ['22022', '2', '94036'],
 ('31', '11'): ['11438', '3', '88147'],
 ('31', '14'): ['21304', '1', '55449'],
 ('31', '22'): ['2029', '2', '12482'],
 ('31', '24'): ['20136', '2', '45396'],
 ('31', '4'): ['7384', '3', '22408']}

In [68]:
fx_filedict(file,3)

{('17', '12', '7316'): ['2', '19329'],
 ('17', '28', '2803'): ['2', '87381'],
 ('2', '14', '26376'): ['3', '13301'],
 ('2', '20', '13883'): ['5', '50722'],
 ('2', '25', '22022'): ['2', '94036'],
 ('31', '11', '11438'): ['3', '88147'],
 ('31', '14', '21304'): ['1', '55449'],
 ('31', '22', '2029'): ['2', '12482'],
 ('31', '24', '20136'): ['2', '45396'],
 ('31', '4', '7384'): ['3', '22408']}

In [69]:
fx_filedict(file,4)

{('17', '12', '7316', '2'): ['19329'],
 ('17', '28', '2803', '2'): ['87381'],
 ('2', '14', '26376', '3'): ['13301'],
 ('2', '20', '13883', '5'): ['50722'],
 ('2', '25', '22022', '2'): ['94036'],
 ('31', '11', '11438', '3'): ['88147'],
 ('31', '14', '21304', '1'): ['55449'],
 ('31', '22', '2029', '2'): ['12482'],
 ('31', '24', '20136', '2'): ['45396'],
 ('31', '4', '7384', '3'): ['22408']}